.bitAbout .content h2,
p {
  font-family: Manrope;
}

.bitAbout .content h1 {
  font-family: Poppins;
  font-size: 56px;
  padding-bottom: 3rem;
}

.bitAbout .content {
  background-color: #9c1ed8;
  color: white;
  flex: 1;
}

.bitAbout .content .aboutMe {
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  text-justify: inter-word;
}

.bitAbout .content h2 {
  padding-bottom: 6rem;
  font-size: 18px;
}

.bitAbout .content p {
  font-size: 18px;
  padding-bottom: 6rem;
  font-family: Manrope;
}

.bitAbout .imgAboutMe img {
  width: 100%;
}

.bitAbout .imgAboutMe {
  flex: 1;
}

.bitAbout .content .socialLinks {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  float: left;
  align-self: flex-start;
  font-size: 18px;
}

.bitAbout .content .socialLinks .icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: left;
}

.bitAbout .content .socialLinks .icons a {
  padding-right: 2rem;
}
