.navMenu{
    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px 2px;
    width: 100%;
    flex: 1;
}


.nav h1{
    font-size: 3em;
    padding: 8rem;
}



.nav #iconMenu{
    display: flex;
    float:right !important;
    margin-right: 2rem;
    font-size: 3rem;
    
    justify-content: flex-end !important;

}

.navMenu{
    overflow: hidden;
    font-size: 2em;
    transition: 1s;
}

.navMenu .contentMenu h2{
    font-size: 32px;
    padding-bottom: 18rem;
    font-family: Manrope;
    font-weight: lighter;
}

.navMenu .contentMenu a{
    font-size: 28px;
    padding-bottom: 18rem;
    color: black
}

.nav .content {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    height: 100%; 
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}




/* .change .a1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .a2{
    opacity: 70%;
}

.change .a3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);

} */

.navMenu a{
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    
    transition: 0.3s;
    
}

.topLinks{
    visibility: hidden;
    flex: 1;
}

.navMenu a:hover{
    background-color: black;
    color:white;
}

@media screen and (max-height: 500px) {
    .navMenu a {font-size: 20px}
    .navMenu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
  }